* {
    box-sizing: border-box;
}
body {
    background-color: #C0C86D;
    text-align: center;
    cursor: url("../img/cursor.png"), auto;

    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;

    /*border: 2px solid blue;*/
    margin: 0;
}
.background {
    background-image: url("../img/background.png");
    background-repeat: no-repeat;

    width: 1920px;
    height: 1080px;

    display: flex;
    flex-flow: column wrap;
    justify-content: space-evenly;
    align-items: center;
}
.holes-row {
    /*border: 2px solid red;*/

    width: 100%;

    display: flex;
    justify-content: space-around;
    align-items: center;

    margin: 0;
}
.two-holes-row {
    width: 50%;
}
.hole {
    /*border: 2px solid blue;*/

    background-color: black;

    border-radius: 50%;

    width: 267px;
    aspect-ratio: 1/1;

    display: flex;
    justify-content: center;
    align-items: center;
}
.mole {
    /*border: 2px solid yellow;*/
}
.hide {
    display: none;
}
.gone {
    display: none;
}
.hungry-mole:hover {
    cursor: url("../img/cursor-worm.png"), auto;
}

.worm {
    clip-path: polygon(0% 0%,
    5% 0%,
    5% 100%,
    0% 100%);

    transition: clip-path 0.5s ease-in-out;
}
